*{
	margin: 0px;
	padding: 0px;
}

.box{
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 12;
}
.box .hometitle {
	width: 100%;
	height: 50px;
	display: flex;
	
	background: gray;
}
.box .hometitle .btn{
	flex: 2;
	height: 100%;
	line-height: 100%;
	/*border: 1px solid red;*/
	line-height: 50px;	
}
.box .hometitle .title{
	flex: 10;
	height: 100%;
	line-height: 50px;
    /*border: 1px solid red;*/	
}